<h2 class="title-text question-title-text"><%= @question.question_name %></h2>

<div class="left-container">
	<div class="show-question-row group">
		<div class="upvote-sidebar-container">&nbsp;
		</div>
	
		<div class="content-container">
			<p><%= @question.question_body %></p>
		</div>
	</div>
	
	<h2 class="title-text answer-title-text"><%= @answers.length || 0 %> Answers</h2>
		<ul>
			<% @answers.each_with_index do |answer, idx| %>
				<li>
					<div class="show-answer-row group">
						<div class="upvote-sidebar-container">
							<form action="<%= answer_upvotes_url(answer) %>" method="POST" data-remote="true" class="upvote-button" id="form-<%= idx %>">
								<%= auth_token %>
								<button class="upvote-button">▲</button>
							</form>
							<p id="upvote-text-<%= idx %>"><%= answer.upvotes.length || 0%></p>
						</div>
						<div class="content-container">
							<p><%= answer.answer_text %></p>
							<br>
							<p class="time-ago-text">Posted <%= time_ago_in_words(answer.created_at) %> ago</p>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
		
		
	<div class="content-container">
		<form action="<%= question_answers_url(@question) %>" method="POST">
			<%= auth_token %>
	
			<h2 class="form-title-text">Your Answer</h2>
			<textarea name="answer[answer_text]" class="answer-textarea"></textarea>
			<br>
			<button class="submission-button">Post Your Answer</button>
		</form>
	</div>
	
</div>

<script>
	$(document).ready(function() {
		$("form.upvote-button").on("ajax:success", function(event, data) {
			var idNum = event.target.id.slice(5);
			$("#upvote-text-" + idNum).html(data);
		});
	});
</script>