<!DOCTYPE html>
<html>
<head>
  <title>FunderaProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<a href="<%= root_url %>">StackOverflowing</a>
		<a href="<%= new_question_url %>">Ask a Question</a>
	</header>
	
	<div class="main">
		<%= yield %>
	</div>

</body>
</html>
