<!DOCTYPE html>
<html>
<head>
  <title>FunderaProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="nav group">
		<div class="left-container">
			<a href="<%= root_url %>">
				<img src="<%= asset_path('stack-overflow-icon.png') %>" class="logo-image">
				<h1 class="logo-text">stack<strong>overflowing</strong></h1>
			</a>
		</div>
		<div class="right-container">
			<a href="<%= new_question_url %>" class="new-question-link">Ask a Question</a>
		</div>
	</header>
	
	<div class="main">
		<%= yield %>
	</div>

</body>
</html>
